form (method="post" action="/register")
   table
      tr 
        td Username
        td 
          input(type="text" name="username")
      tr 
        td Fullname
        td 
          input(type="text" name="fullname")
      tr
        td Password
        td
           input(type="password" nmae="password")
      tr
        td Confirm Password
        td
           input(type="password" nmae="confirm-password")
      tr
        td
        td
           input(type="submit" value="Register")